/* Main Receptionist Dashboard */

.receptionist-dashboard{

    min-height:100vh;

    padding:45px 70px;


    background:

    linear-gradient(

        135deg,

        #eaf4ff,

        #ffffff

    );


    position:relative;

    text-align:center;

}







/* Logout Button */

.logout-btn{

    position:absolute;


    top:25px;


    right:35px;



    background:#dc3545;



    color:white;



    padding:12px 25px;



    border:none;



    border-radius:10px;



    font-size:15px;



    font-weight:600;



    cursor:pointer;



    transition:0.3s;


}



.logout-btn:hover{


    background:#b02a37;


    transform:translateY(-3px);


}








/* Header */

.receptionist-dashboard h1{


    color:#0b5ed7;


    font-size:44px;


    font-weight:800;


    margin-top:25px;


    margin-bottom:18px;


    line-height:1.2;


}








.receptionist-dashboard h2{


    color:#777;


    font-size:18px;


    font-weight:400;


    margin-bottom:50px;


}








/* Dashboard Grid */

.dashboard-grid{


    max-width:1100px;


    margin:auto;


    display:grid;


    grid-template-columns:repeat(2,1fr);


    gap:35px;


}








/* Dashboard Cards */

.dashboard-card{


    background:white;


    height:200px;


    border-radius:24px;


    padding:35px;



    display:flex;


    flex-direction:column;


    justify-content:center;


    align-items:center;




    box-shadow:


    0 12px 35px rgba(0,0,0,0.08);





    cursor:pointer;



    transition:all 0.35s ease;


}








.dashboard-card:hover{


    transform:translateY(-12px);



    box-shadow:


    0 25px 50px rgba(0,0,0,0.15);


}








/* Card Title */

.dashboard-card h3{


    color:#0b5ed7;


    font-size:28px;


    font-weight:700;


    margin-bottom:15px;


}








/* Card Description */

.dashboard-card p{


    color:#777;


    font-size:16px;


    line-height:1.5;


}








/* Responsive */

@media(max-width:768px){


    .receptionist-dashboard{


        padding:30px 20px;


    }





    .dashboard-grid{


        grid-template-columns:1fr;


    }





    .receptionist-dashboard h1{


        font-size:32px;


    }





    .logout-btn{


        top:20px;


        right:20px;


    }


}