.admin-billing{

    padding:40px;

    text-align:center;

}





.admin-billing h1{

    font-size:40px;

}





.admin-billing h2{

    margin-top:25px;

}









.billing-form{


    display:grid;


    grid-template-columns:repeat(2,300px);


    gap:15px;


    justify-content:center;


    margin-top:25px;


}









.billing-form input,
.billing-form select{


    padding:12px;


    font-size:16px;


    border-radius:6px;


}









/* Total Amount Field */

.billing-form input[readonly]{


    font-weight:bold;


}








/* Total Amount Special Style */

.total-input{


    background:#222;


    color:white;


    font-weight:bold;


    text-align:center;


}









/* Create Bill Button */

.billing-button{


    width:200px;


    padding:12px;


    font-size:18px;


    cursor:pointer;


    margin:auto;


    grid-column:span 2;


}









/* Billing Table */

.billing-table{


    margin:30px auto;


    border-collapse:collapse;


}









.billing-table th{


    padding:12px;


    font-size:18px;


}









.billing-table td{


    padding:12px;


}









.billing-table button{


    padding:8px 15px;


    cursor:pointer;


}